.form{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
}

.div-container mat-form-field + mat-form-field{
    padding-top: 5px;
    padding-right: 20px;
}

.campocurto{
    width: 70px;
  }

.campolongo{
    width: 500px;
  }


.div-container mat-card-title{
    padding-bottom: 1px;
    padding-top: 2px;
    margin-left: 2px;
    font-size: 0.9rem;
    font-weight: 40;
    color:#3f51b5
}

.mat-divider{
    display: block;
    margin: 0;
    border-top-width: 1px;
    border-top-style: solid;
  }

.mat-card-title{
    padding-bottom: 10px;
}

.title{
    font-size: 1rem;
    font-weight: 100;
    font-weight: bold;
    line-height: 42px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.input{
    padding-left: 20px;
    width: 300px;

}
.button-content {
  display: flex;
  gap: 12px; 
  justify-content: flex-end;
  align-items: center; 
  margin-top: 16px; 
}

.button-content button {
  margin: 0; 
}
  
  .valor-right-align {
    text-align: right;
  }
  
  input.valor-right-align::-webkit-outer-spin-button,
  input.valor-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  .check-h2 {
    margin: 10px;
  }
  
  .check-section {
    display: table-cell;
    align-content: center;
    align-items: center;
    height: 30px;
    vertical-align: middle;
  }
  
  .check-margin {
    margin: 0 10px;
  }

  